* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #136a8a, #267871);
  background: linear-gradient(to right, #136a8a, #267871);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 34px;
  color: white;
  font-family: "Playfair Display", serif;
  text-align: center;
  margin: 50px auto;
  font-weight: 100;
}

.form {
  background-color: white;
  -webkit-box-shadow: -1px 20px 52px -13px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 20px 52px -13px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 20px 52px -13px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

#form {
  background-color: #fff;
  padding: 50px 0;
  width: 65%;
  margin: 0 auto;
}

.input-field {
  margin-bottom: 20px;
}

.messages {
  color: red;
}

#result {
  text-align: center;
}

.spinner {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 10px;
}

label {
  color: #9e9e9e;
  font-size: 14px;
}

#currency,
#cryptocurrency {
  border: 0;
  width: 100%;
  height: 40px;
  line-height: 30px;
  font-size: 17px;
  margin: 8px 0;
  border-bottom: 1px solid #bcbcbc;
}

#currency:focus-visible,
#cryptocurrency:focus-visible {
  outline: none;
  border-bottom: 1px solid #26a69a;
}

#currency option {
  font-size: 16px;
  color: #26a69a;
  display: block;
  line-height: 22px;
  padding: 20px 16px;
}

#currency option:disabled,
#cryptocurrency option:disabled {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.03);
}

.btn {
  color: #fff;
  background-color: #ef6c00 !important;
  text-transform: uppercase;
  border: 0;
  padding: 20px;
  width: 100%;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.btn:focus {
  outline: none;
}

.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
}

.error {
  background-color: #fbe9e7;
  border: 1px solid #f4511e;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #f4511e;
}

.card {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px 20px;
  margin-bottom: 1rem;
  border-radius: 5px;
}
